<nav class="navbar navbar-expand-sm bg-light">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="position: relative;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <h5 style="font-size:150%"><a class="nav-link" href="/">SÀN GIAO DỊCH</a></h5>
                    </li>
                    <li class="nav-item">
                        <h4>@Html.ActionLink("Chứng Khoán","ChungKhoan","App", new { @class = "nav-link" })</h4>
                    </li>
                    <li class="nav-item">
                        <h4>@Html.ActionLink("Vàng", "Vang", "App", new { @class = "nav-link" })</h4>
                    </li>
                    <li class="nav-item">
                        <h4>@Html.ActionLink("Nhà ", "NhaDat", "App", new { @class = "nav-link" })</h4>
                    </li>
                </ul>

                <ul class="navbar-nav ml-auto" style="position: absolute;right: 50px">
                    <li class="nav-item">
                        <h4>@Html.ActionLink("Đăng nhập ", "Login", "App", new { @class = "nav-link" })</h4>
                    </li>
                    <li class="nav-item">
                        <h4>@Html.ActionLink("Đăng kí ", "SignIn", "App", new { @class = "nav-link" })</h4>
                    </li>
                    <li>
                        <a href="/"><button type="button" class="btn btn-warning"><h4>Nạp tiền</h4></button></a>
                    </li>
                </ul>
            </div>

        </div>


    </nav>

